.landing-title {
    text-align: center;
    font-family: "Poiret One";
    font-size: 4.5em;
    font-style: bold;
    color: white;
}

.landing-title:hover {
    color: slategrey;
    text-shadow: 4px 6px 4px black;
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 50em;
    margin: 0 auto;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.flex-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
  }

.flex-list-item {
    padding: 15px;
    width: 25%;
    height: 100%;
    margin-top: 5px;
    line-height: 100%;
    font-size: 2em;
    text-align: center;
    font-family: "Poiret One";
}

.flex-list-item a {
    color: darkgrey;
    text-decoration: none;
}

.flex-list-item a:hover {
    color: slategrey;
    text-shadow: 2px 4px 2px black;
}