.logo{
    position: fixed;
    top: 5%;
    left: 5%;
    transform: translate(-5%, -5%);
}

.landing-title {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.landing-title-text {
    text-align: center;
    font-family: "Poiret One";
    font-size: 55px;
    font-style: normal;
    color: whitesmoke(0, 0, 0);
    text-shadow: .5px .5px .5px black;
}

.landing-title-text a {
    color: whitesmoke;
    text-decoration:none;
}

.landing-title-text a:hover {
    color: #3d3d5c;
    text-shadow: 4px 6px 4px black;
}

.landing-title-body {
    text-align: center;
    font-family: "Poiret One";
    font-size: 30px;
    color: whitesmoke;
    text-shadow: .5px .5px .5px black;
}

.landing-title-body a {
    color: whitesmoke;
    text-decoration: none;
}

.landing-title-body a:hover {
    color: rgb(223, 200, 1);
    text-shadow: 2px 4px 2px black;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    float: left;
    text-decoration: none;
    padding: 16px 32px;
}
