{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Nicholas Anderson</title>
<link href='https://fonts.googleapis.com/css?family=Poiret One' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href="{% static 'css/homepage.css' %}">
  <link rel='stylesheet' href="{% static 'css/footer.css' %}">
  <style>
      * { margin: 0; padding: 0; }
      html {
          background: url({% static 'images/skull2.jpg' %}) no-repeat center center fixed;
          -webkit-background-size: 100%;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
  </style>
</head>
<body>
  <div class="landing-title">
      <div class="landing-title-text">
          <a href="/">Nicholas Anderson</a>
      </div>
      <ul class="landing-title-body">
          <li><a href="/aboutme">About Me</a></li>
          <li><a href="/projects">Code Projects</a></li>
          <li><a href="https://www.soundcloud.com/nicoisavg">Music</a></li>
          <li><a href="/tattooblog">Tattoo1891</a></li>

        </ul>
  </div>
  <div class="row footer">
      <div class="footer-social-icons">
          <a class="social-icon" target="_blank" href="mailto:nanderson993@gmail.com"><i id="icon" class="fa fa-envelope"></i></a>
          <a class="social-icon" target="_blank" href="https://github.com/nicoisaverage"><i id="icon" class="fa fa-github"></i></a>
          <a class="social-icon" target="_blank" href="https://www.linkedin.com/in/nicoisaverage/"><i id="icon" class="fa fa-linkedin"></i></a>
          <a class="social-icon" target="_blank" href="https://medium.com/@datahighway"><i id="icon" class="fa fa-medium"></i></a>
          <a class="social-icon" target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i id="icon" class="fa fa-youtube"></i></a>
      </div>
  </div>
</body>
</html>
